@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.navs li,
.navs a {

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2vw;
    color: #24252A;
    text-decoration: none;


}


.navs ul li a,
.navs,
.navs img,
.navs ul,
.navs ul li,
.navs {

    background-color: var(--clr--neutral-100);

}



.navs img {
    margin: 2rem;

    cursor: pointer;
    background-size: contain;
    max-width: 30%;
    height: auto;




}

.navs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;



}

.navs ul {

    list-style: none;
    padding: 0px 10%;
}

.navs li {
    display: inline-block;
    padding: 0px 20px;

}

.navs li a {

    transition: all 0.3s ease 0s;


}

.navs li a:hover {

    color: var(--clr--accent-400);

}